/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: auto 15%;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
@media (max-width: 500px) {
  html,
  body {
    margin: auto;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.nav-content {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}
@media (max-width: 500px) {
  .nav-content {
    justify-content: space-around;
  }
}
.nav-content a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .nav-content a {
    padding: 0;
  }
}
.nav-content a:last-child {
  padding-right: 0;
}
@media (max-width: 500px) {
  .nav-content a:last-child {
    padding: 0;
  }
}
.top-content {
  background-color: azure;
  height: 550px;
}
@media (max-width: 500px) {
  .top-content {
    height: 500px;
  }
}
.top-content .logo {
  width: 50%;
  margin: 40px 20px 10px;
}
@media (max-width: 500px) {
  .top-content .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 15px;
    margin-top: 0;
  }
}
.top-content .top-content-h1 {
  margin: 0px 20px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.top-content .top-content-h1 h1 {
  font-size: 30px;
}
@media (max-width: 500px) {
  .top-content .top-content-h1 h1 {
    text-align: center;
  }
}
.top-content .top-content-paragraph p {
  margin: 20px;
}
.top-content .top-content-paragraph button {
  width: 20%;
  height: 30px;
  margin: 0 20px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}
@media (max-width: 500px) {
  .top-content .top-content-paragraph button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.middle-content {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
    align-items: center;
  }
}
.middle-content .text-content {
  width: 55%;
}
@media (max-width: 500px) {
  .middle-content .text-content {
    width: 100%;
    margin-bottom: 35px;
  }
}
.middle-content .text-content h2 {
  font-size: 25px;
}
@media (max-width: 500px) {
  .middle-content .text-content h2 {
    text-align: center;
  }
}
.middle-content .good-at {
  width: 40%;
}
@media (max-width: 500px) {
  .middle-content .good-at {
    width: 80%;
  }
}
.middle-content .good-at h3 {
  font-size: 20px;
}
@media (max-width: 500px) {
  .middle-content .good-at h3 {
    text-align: center;
  }
}
.middle-content .good-at div {
  padding: 10px 0 10px 10px;
  border: 1px solid black;
}
.bottom-content {
  margin-bottom: 20px;
}
.bottom-content h3 {
  font-size: 18px;
}
@media (max-width: 500px) {
  .bottom-content h3 {
    text-align: center;
  }
}
.bottom-content table {
  width: 100%;
}
.bottom-content table tr th {
  text-align: justify;
  padding: 7px 0;
  border-top: 1px solid lightgrey;
}
.bottom-content table tr td {
  padding: 7px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.bottom-content table tr:nth-child(even) {
  background-color: azure;
}
footer {
  text-align: center;
  padding: 16px;
  background-color: gray;
  color: white;
}
